@keyframes changeCard2City {

    0%, 100% {

        content: 'SPLIT';

    }

    25% {

        content: 'PORTO';

    }

    50% {

        content: 'BARCELONETA';

    }

    75% {

        content: 'NICE';

    }

}