@keyframes changeCountryMain {

        0%, 100% {
    
            opacity: 1;
            content: 'Spain';
    
        }
    
        25% {
    
            opacity: 1;
            content: "France";
    
        }
    
        50% {
    
            opacity: 1;
            content: "Croatia";
    
        }
    
        75% {
    
            opacity: 1;
            content: "Portugal";
    
        }

}