@keyframes changeCard1Background {

    0%, 100% {

        background-image: $nice-crp;

    }

    25% {

        background-image: $split-crp;

    }

    50% {

        background-image: $porto-crp;

    }

    75% {

        background-image: $barceloneta-crp;

    }

}