@keyframes changeCityMain {

    0%, 100% {

        opacity: 1;
        content: 'BARCELONETA';

    }

    25% {

        opacity: 1;
        content: "NICE";

    }

    50% {

        opacity: 1;
        content: "SPLIT";

    }

    75% {

        opacity: 1;
        content: "PORTO";

    }

}