@keyframes changeCard1City {

    0%, 100% {

        content: 'NICE';

    }

    25% {

        content: "SPLIT";

    }

    50% {

        content: "PORTO";

    }

    75% {

        content: "BARCELONETA";

    }

}