@import "vars";

* {
    
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: $white;

}

ul {

    list-style-type: none;

}

a {

    text-decoration: none;

}